* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #DFF3BB;
    color: rgb(0, 0, 0);
}

.df {
    font-weight: 900;   /* жирный (700) */
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-left: 2rem;
}

.nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 800;
}

.nav ul li a :hover {
    color: #000000;
}

.main {
    padding: 2rem;
}

.box-5 {
    width: auto;
    height: auto;
    padding: 15px 40px;
    background-color: rgb(255, 255, 255) ;
    font-weight: 800;
}

.box-6 {
    width: auto;
    height: auto;
    padding: 15px 40px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
}

.product-card {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.5s, box-shadow 0.5s;
    background-color: #DFF3BB
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.products {
    margin-top: 3rem;
    font-weight: 800;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(206, 235, 195, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.product-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.a {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.box-7 {
    margin-left: 50px;
    font-weight: 800;
}

.kol {
    color: #000000;
    text-decoration: none;
}